.About {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background-color: #ffffff;

  margin: 120px 0 180px 0px;
}

.About img {
  width: 560px;
  height: 370px;
  border-radius: 0 65px 0 0;
}

.extra_bg_div {
  background-color: #8BC34A;
  height: 130px;
  width: 150px;
  border-radius: 0 50px 0 50px;
  position: absolute;
  margin: 350px 71rem 0 10px;
}

.AboutSection {
  max-width: 540px;
  text-align: left;
  color: #333;
  margin-left: 70px;
}

.AboutSection h3 {
  font-size: 1.5em;
  color: #2decd0;
  font-weight: 600;
}

.AboutSection h1 {
  font-size: 3.6em;
  margin: 15px 0 25px 0;
  font-weight: 600;
  line-height: 1;
}

.AboutSection p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 3%;
  color: #8b8f95;
  margin-bottom: 30px;
}

.AboutUsTopContent button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #28ce54;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s ease-in-out;
  height: 50px;
}

.AboutUsTopContent button:hover {
  transform: translateY(-6px);
}